In [42]:
import pandas as pd

df = pd.read_pickle('product_links_16000')
df.head(1)

,author,price,book_format,product_link
0,Stephen Deal,£5.95,Paperback,https://www.waterstones.com/book/kingdom-airwa...

In [43]:
urls = df.product_link.to_list()
test = []
for url in urls:
    test.append(url + '\n')

In [44]:
with open('ws_second_links.txt', 'w') as wf:
    wf.writelines(test)

In [38]:
len(test)

240000